# Sample ~/.relarn/relarnrc file

# The default character is a Pratchett reference, as required by law
# name:       Eskarina
# character:  Wizard

# Gender options:
# female
# male
# nonbinary

# Spouse gender options
# spouse_female
# spouse_male
# spouse_nonbinary

# Disable the "beep"; this is currently usually a visual flash anyway,
# but you can turn it off here.
# no-beep

# Set the command to run the email client for reading post-win junk
# mail.  The folder (a standard mbox file) will get appended.
# 
# (`mutt` is ideal but `less` will do in a pinch.  Alternately, just
# leave it empty; the mailfile will still be there when you want to
# open it with something else.)
# 
# email-client: /usr/bin/mutt -f

# Disable dramatic pauses
# no-nap

# Hilight the visible field of view (if supported)
show-fov

# Colour unexplored cells differently from floor cells (if supported)
show-unrevealed

# Disable the intro text
# no-introduction


